<div class="container">
<div class="main">
<div class="content">

  <form method="get" action="/mates" class="pure-form">
    <input type="submit" value="Cancel" style="margin-top: 1em" class="pure-button pure-button-primary">
  </form>

  <form action="/mates/<%= @mate.id %>/edit" method="get">
    <input type="submit" value="Edit" class="pure-button pure-input-1-2 pure-button-primary" style="margin-top: 1em">
  </form>

  <div class="pure-g">

  <div class="pure-u-2-5">
    <div class="l-box"><h3>First Name</h3></div>
  </div>
  <div class="pure-u-3-5">
    <div class="l-box"><p><%= @mate.first_name %></p></div>
  </div>

  <div class="pure-u-2-5">
    <div class="l-box"><h3>Last Name</h3></div>
  </div>
  <div class="pure-u-3-5">
    <div class="l-box"><p><%= @mate.last_name %></p></div>
  </div>

  <div class="pure-u-2-5">
    <div class="l-box"><h3>Email</h3></div>
  </div>
  <div class="pure-u-3-5">
    <div class="l-box"><p><%= @mate.email %></p></div>
  </div>

  <div class="pure-u-2-5">
    <div class="l-box"><h3>City</h3></div>
  </div>
  <div class="pure-u-3-5">
    <div class="l-box"><p><%= @mate.city %></p></div>
  </div>

  <div class="pure-u-2-5">
    <div class="l-box"><h3>Birthday</h3></div>
  </div>
  <div class="pure-u-3-5">
    <div class="l-box"><p><%= @mate.birthday %></p></div>
  </div>

  <div class="pure-u-2-5">
    <div class="l-box"><h3>Likes</h3></div>
  </div>
  <div class="pure-u-3-5">
    <div class="l-box"><p><%= @mate.like %></p></div>
  </div>

  <div class="pure-u-2-5">
    <div class="l-box"><h3>Dislikes</h3></div>
  </div>
  <div class="pure-u-3-5">
    <div class="l-box"><p><%= @mate.dislike %></p></div>
  </div>

  <div class="pure-u-2-5">
    <div class="l-box"><h3>Significant Others</h3></div>
  </div>
  <div class="pure-u-3-5">
    <div class="l-box"><p><%= @mate.significant_other %></p></div>
  </div>

  <div class="pure-u-2-5">
    <div class="l-box"><h3>Job</h3></div>
  </div>
  <div class="pure-u-3-5">
    <div class="l-box"><p><%= @mate.job %></p></div>
  </div>

  <div class="pure-u-2-5">
    <div class="l-box"><h3>Drunk Convos</h3></div>
  </div>
  <div class="pure-u-3-5">
    <div class="l-box"><p><%= @mate.drunk_convo %></p></div>
  </div>

  <div class="pure-u-2-5">
    <div class="l-box"><h3>Favorite Drinks</h3></div>
  </div>
  <div class="pure-u-3-5">
    <div class="l-box"><p><%= @mate.favorite_drink %></p></div>
  </div>

  <div class="pure-u-2-5">
    <div class="l-box"><h3>Quirks</h3></div>
  </div>
  <div class="pure-u-3-5">
    <div class="l-box"><p><%= @mate.quirk %></p></div>
  </div>

  <div class="pure-u-2-5">
    <div class="l-box"><h3>Inspirations</h3></div>
  </div>
  <div class="pure-u-3-5">
    <div class="l-box"><p><%= @mate.inspiration %></p></div>
  </div>

  <div class="pure-u-2-5">
    <div class="l-box"><h3>Accomplishments</h3></div>
  </div>
  <div class="pure-u-3-5">
    <div class="l-box"><p><%= @mate.accomplishment %></p></div>
  </div>

  <div class="pure-u-2-5">
    <div class="l-box"><h3>Travel Destinations</h3></div>
  </div>
  <div class="pure-u-3-5">
    <div class="l-box"><p><%= @mate.travel_destination %></p></div>
  </div>

  <div class="pure-u-2-5">
    <div class="l-box"><h3>Ideal Day</h3></div>
  </div>
  <div class="pure-u-3-5">
    <div class="l-box"><p><%= @mate.ideal_day  %></p></div>
  </div>

  <div class="pure-u-2-5">
    <div class="l-box"><h3>Random Notes</h3></div>
  </div>
  <div class="pure-u-3-5">
    <div class="l-box"><p><%= @mate.random_note  %></p></div>
  </div>


  </div>

  <form action="/mates/<%= @mate.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete" class="pure-button pure-input-1-2 pure-button-primary">
  </form>

</div>
</div>
</div>
