<div class="container">

<a href="/mates/<%= @mate.id %>/edit">Edit this mate</a>

  First Name: <%= @mate.first_name %>
  Last Name: <%= @mate.last_name %>
  Email: <%= @mate.email %>
  Birthday: <%= @mate.birthday %>
  City: <%= @mate.city %>
  Random Notes: <%= @mate.random_note %>
  Likes: <%= @mate.like %>
  Dislikes: <%= @mate.dislike %>
  Significant Others: <%= @mate.significant_other %>
  Job: <%= @mate.job %>
  Drunk Convos: <%= @mate.drunk_convo %>
  Favorite Drinks: <%= @mate.favorite_drink %>
  Quirks: <%= @mate.quirk %>
  Inspirations: <%= @mate.inspiration %>
  Accomplishments: <%= @mate.accomplishment %>
  Travel Destinations: <%= @mate.travel_destination %>
  Ideal Day: <%= @mate.ideal_day %>

</div>
